
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@src" class="img-fluid img-size" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body custom-card">
                <div class="container text-end" style="padding: 0">
                    <div class="row">
                        <div class="col text-start">
                            <small class="text-muted small-text"><span class="oi bi bi-star-fill"></span> @rating</small>

                        </div>
                        
                    </div>
                </div>
                <h6 class="card-title">@title</h6>
                <small class="text-muted">By @author</small><br />
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span class="oi bi bi-card-text"></span>
                        </div>
                        @if (hasVideo) {
                            <div class="col">
                                <span class="oi bi bi-play-btn"></span>
                            </div>
                        }

                        <div class="col">
                            &nbsp;
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string src { get; set; }

    [Parameter]
    public string title { get; set; }

    [Parameter]
    public string author { get; set; }

    [Parameter]
    public string rating { get; set; }

    [Parameter]
    public bool hasVideo { get; set; }


}
