@page "/search"

<h1 class="text-center">Search</h1>
<div class="container">

    <input class="form-control d-flex" type="text" placeholder="Search..." aria-label="default input example">
    <br />




    <div class="card d-flex justify-content-center">
        <div class="card-header">
            <h5>Recent Searches</h5>
        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <NavLink class="nav-link" href="searchResult">
                    Chicken Tikka Masala
                </NavLink>
            </li>
            <li class="list-group-item">
                <NavLink class="nav-link" href="searchResult">
                    Chicken Fettucine
                </NavLink>
            </li>
            <li class="list-group-item">
                <NavLink class="nav-link" href="searchResult">
                    Chicken Stew
                </NavLink>
            </li>
        </ul>
    </div>
</div>