@page "/ViewRecipe"


@using CookingBuddy.Pages.ViewRecipe.model;

<div class="container-fluid  overflow-hidden">
    <div class="container-fluid border border-top border-bottom">
        <CookingBuddy.Pages.ViewRecipe.components.RecipeTitleBar recipe=@recipeTitle></CookingBuddy.Pages.ViewRecipe.components.RecipeTitleBar>
    </div>
    <div class="container-fluid border border-top border-bottom overflow-auto">
        <CookingBuddy.Pages.ViewRecipe.components.RecipeContentBody recipe=@recipeBody></CookingBuddy.Pages.ViewRecipe.components.RecipeContentBody>
    </div>
    <div class="container-fluid border border-top border-bottom">
        <button type="button" class="btn btn-info">Lets Cook</button>
    </div>
</div>

@code {
    RecipeTitleBarModel recipeTitle = new RecipeTitleBarModel("https://makeyourmeals.com/wp-content/uploads/2019/06/featured-grilled-steak-735x490.jpg.webp"
                , "Grilled Stake");
    RecipeBodyModel recipeBody = new RecipeBodyModel("Cooking Buddy", "easy", "3.5", "30 mins", "500 cal", "Perfectly Grilled Steak", "Spatula","Steak,Salt,Butter,1,2,3,4,5,6,7,8,9,","50$","3");
}
