@page "/notifications"

<div class="container-fluid">
    <h1 style="text-align: center"><strong>Notifications</strong></h1>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://www.recipetineats.com/wp-content/uploads/2018/04/Chicken-Tikka-Masala_0.jpg" 
                class="img-fluid" style="width: 95px; height: 95px">
            </div>
            <div class="col">
                <div class="card-body" style="padding-left: 0px; padding-right: 0px">
                    <p class="card-text" style="font-size: 13px">
                        Dan Dresden left a review on your "Chicken Tikka Masala" recipe!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://www.recipetineats.com/wp-content/uploads/2018/04/Chicken-Tikka-Masala_0.jpg"
                     class="img-fluid" style="width: 95px; height: 95px">
            </div>
            <div class="col">
                <div class="card-body" style="padding-left: 0px; padding-right: 0px">
                    <p class="card-text" style="font-size: 13px">
                        Gabriella Fuentes left a review on your "Chicken Tikka Masala" recipe!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://theheirloompantry.co/wp-content/uploads/2022/06/how-to-fry-eggs-perfectly-in-4-ways-the-heirloom-pantry.jpg"
                     class="img-fluid" style="width: 95px; height: 95px">
            </div>
            <div class="col">
                <div class="card-body" style="padding-left: 0px; padding-right: 0px">
                    <p class="card-text" style="font-size: 13px">Lord Farquuad left a review on your "Fried Eggs" recipe!</p>
                </div>
            </div>
        </div>
    </div>
</div>