@page "/resetlogin"
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3 class="mb-5">Forgot Password?</h3>
                    <p class="mb-2">
                        Enter your registered email ID to reset the password
                    </p>
                    <form>
                        <div class="form-floating mb-3">
                            <input type="email" id="email" class="form-control" required="">
                            <label for="email" class="form-label">Email</label>
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary">
                                Reset Password
                            </button>
                        </div>
                        <span>Don't have an account? <a href="/register">sign up</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>