@page "/"
<h1 class="text-center"><i class="bi bi-person-fill" /> Trending Authors</h1>
<div class="container">
    <div class="d-flex flex-row flex-nowrap overflow-auto" style="padding-top: 1rem; padding-bottom: 1rem">
        <CookingBuddy.Pages.home.components.Author Name="John Doe" Link="/search" />
        <CookingBuddy.Pages.home.components.Author Name="Jane Doe" Link="/search" />
        <CookingBuddy.Pages.home.components.Author Name="Jack Doe" Link="/search" />
        <CookingBuddy.Pages.home.components.Author Name="John Doe" Link="/search" />
        <CookingBuddy.Pages.home.components.Author Name="Jane Doe" Link="/search" />
        <CookingBuddy.Pages.home.components.Author Name="Jack Doe" Link="/search" />
    </div>
</div>
<hr/>
<h1 class="text-center"><i class="bi bi-fire" /> Trending Dishes</h1>
<div class="container">
    <div class="row g-2">
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Title="Eggs" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Title="Eggs" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Title="Eggs" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Title="Eggs" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Title="Eggs" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Title="Eggs" />
        </div>
    </div>
</div>



