@page "/"
@using CookingBuddy.Models

<div class="container">
    <h1 class="text-center"><i class="bi bi-person-fill" /> Trending Authors</h1>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <div style="display:inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="John Doe" Link="/searchResult/John Doe" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jane Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jack Doe" Link="/search" />
        </div>
        <div style="display:inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="John Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jane Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jack Doe" Link="/search" />
        </div>
        <div style="display:inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="John Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jane Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jack Doe" Link="/search" />
        </div>
        <div style="display:inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="John Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jane Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jack Doe" Link="/searchResult/Jack Doe" />
        </div>
    </div>
    <hr />
    <h1 class="text-center"><i class="bi bi-fire" /> Trending Dishes</h1>
    <div class="row g-2">
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQWVgN47vIp-GuFVDF_mRHwqxvECpfFHIs9Q&usqp=CAU" Title="Eggs" Link="/searchResult/Eggs" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQWVgN47vIp-GuFVDF_mRHwqxvECpfFHIs9Q&usqp=CAU" Title="Eggs" Link="/search" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQWVgN47vIp-GuFVDF_mRHwqxvECpfFHIs9Q&usqp=CAU" Title="Eggs" Link="/search" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQWVgN47vIp-GuFVDF_mRHwqxvECpfFHIs9Q&usqp=CAU" Title="Eggs" Link="/search" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQWVgN47vIp-GuFVDF_mRHwqxvECpfFHIs9Q&usqp=CAU" Title="Eggs" Link="/search" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQWVgN47vIp-GuFVDF_mRHwqxvECpfFHIs9Q&usqp=CAU" Title="Eggs" Link="/search" />
        </div>
    </div>
</div>
