@page "/"
@using CookingBuddy.Models

<div class="container">
    <h1 class="text-center"><i class="bi bi-person-fill" /> Trending Authors</h1>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <div style="display:inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://i0.wp.com/www.mobileworldlive.com/wp-content/uploads/2015/10/Dorsey-iamge.png?fit=550%2C532&ssl=1" Name="John Doe" Link="/searchResult/John Doe" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://media.istockphoto.com/id/638756792/photo/beautiful-woman-posing-against-dark-background.jpg?s=612x612&w=0&k=20&c=AanwEr0pmrS-zhkVJEgAwxHKwnx14ywNh5dmzwbpyLk=" Name="Jane Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bWFsZSUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80" Name="Jack Doe" Link="/search" />
        </div>
        <div style="display:inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="John Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jane Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jack Doe" Link="/search" />
        </div>
        <div style="display:inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="John Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jane Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jack Doe" Link="/search" />
        </div>
        <div style="display:inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="John Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jane Doe" Link="/search" />
        </div>
        <div style="display: inline-block">
            <CookingBuddy.Pages.home.components.Author Src="https://c.pxhere.com/images/0d/18/4fa31701d2cfa087836d807967f3-1447663.jpg!d" Name="Jack Doe" Link="/searchResult/Jack Doe" />
        </div>
    </div>
    <hr />
    <h1 class="text-center"><i class="bi bi-fire" /> Trending Dishes</h1>
    <div class="row g-2">
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQWVgN47vIp-GuFVDF_mRHwqxvECpfFHIs9Q&usqp=CAU" Title="Eggs" Link="/searchResult/Eggs" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://cdn.apartmenttherapy.info/image/upload/f_jpg,q_auto:eco,c_fill,g_auto,w_1500,ar_1:1/k%2FPhoto%2FRecipe%20Ramp%20Up%2F2022-01-Tonkatsu%2Ftonkatsu_1_of_2" Title="Tonkatsu" Link="/search" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://insanelygoodrecipes.com/wp-content/uploads/2020/04/Fried_Chicken-1024x536.png" Title="Fried Chicken" Link="/search" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://i.ytimg.com/vi/0HWPMeOb9n0/maxresdefault.jpg" Title="Filipino Spaghetti" Link="/search" />
        </div>
        <div class="col-12 col-md-6">
            <CookingBuddy.Pages.home.components.QuickSearch Src="https://i0.wp.com/www.angsarap.net/wp-content/uploads/2022/01/Copycat-Jollibee-Burger-Steak-Wide.jpg?fit=1080%2C720&ssl=1" Title="Burger Steak" Link="/search" />
        </div>
    </div>
</div>
