@page "/register"

<form>
    <h1 class="text-center">Register</h1>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-floating">
                <input type="text" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Example1">First name</label>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-floating">
                <input type="text" id="form3Example2" class="form-control" />
                <label class="form-label" for="form3Example2">Last name</label>
            </div>
        </div>
    </div>

    <!-- Email input -->
    <div class="form-floating mb-4">
        <input type="email" id="form3Example3" class="form-control" />
        <label class="form-label" for="form3Example3">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-floating mb-4">
        <input type="password" id="form3Example4" class="form-control" />
        <label class="form-label" for="form3Example4">Password</label>
    </div>

    <!-- Submit button -->
    <div class="d-grid">
        <button type="submit" class="btn btn-primary mb-4">
            Sign up
        </button>
    </div>

    <!-- Register buttons -->
    <div class="text-center">
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>
</form>