@page "/resetlogin"

<div class="mb-4">
    <h5>Forgot Password?</h5>
    <p class="mb-2">
        Enter your registered email ID to reset the password
    </p>
</div>
<form>
    <div class="form-floating mb-3">
        <input type="email" id="email" class="form-control" required="">
        <label for="email" class="form-label">Email</label>
    </div>
    <div class="mb-3 d-grid">
        <button type="submit" class="btn btn-primary">
            Reset Password
        </button>
    </div>
    <span>Don't have an account? <a href="/register">sign up</a></span>
</form>
