.flexcontainer {
    display: flex;
}

.card {
    overflow: hidden;
    width: 270px;
    height: 400px;
    margin: 10px;
}

.card-image {
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;

}


.formatContainer {
    width: 58%;
    display: grid;
    gap: 12%;
}

.input-field {
    width: 10%;
    border-radius: 0.5rem;
}

.h1 {
    color: blue;
}

label {
    font: bold;   
    width: 140px;
    text-align: right;
}

​

.button_format {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid #000000;
    transition: var(--transition);
}


.textboxid {
    height: 200px;
    font-size: 14pt;
}

input, textarea {
    width: 50%;
    border-radius: 0.5rem;
    background: transparent;
    resize: none;
    color: var(--color-black)
}


.font-bold {
    display: flex;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.fixed-btn {
    position: fixed;
    background: #0FACF3;
    width: 200px;
    height: 45px;
    line-height: 45px;
    bottom: 10%;
    border-radius: 3px;
    text-align: left;
    box-shadow: 4px 4px 4px #0a78aa;
}

.fixed-btn p {
    text-transform: uppercase;
    font-family: arial;
    font-weight: 900;
    color: #fff;
}

.fixed-btn:active {
    box-shadow: 0 0;
}

.fixed-btn2 {
    position: fixed;
    background: #0FACF3;
    width: 200px;
    height: 45px;
    line-height: 45px;
    bottom: 10%;
    right: 3%;
    border-radius: 3px;
    text-align: center;
    box-shadow: 4px 4px 4px #0a78aa;
}

.fixed-btn2:active {
    box-shadow: 0 0;
}

.fixed-btn2 p {
    text-transform: uppercase;
    font-family: arial;
    font-weight: 900;
    color: #fff;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}