<nav class="navbar navbar-light bg-light navbar-expand" style="position: fixed; width: 100%; z-index: 1">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <h1 style="font-family: Brush Script MT, cursive">Cooking Buddy</h1>
        </a>
        <a class="btn btn-outline-success" role="button" href="/settings">
            Login/Register
        </a>
    </div>
</nav>