@inherits LayoutComponentBase

<div style="width: 100%; height: 100%; position: fixed">
    @*Top Logo/Sign in*@
    <HeaderLogo />
    @*Page Body*@
    <main class="page">
        <article class="content px-4">
            @Body
        </article>
    </main>
    @*Task bar*@
    <TaskBar />
</div>
