@inherits LayoutComponentBase

<div>
    @*Page Body*@
    <main>
        @*Top Logo/Sign in*@
        <HeaderLogo />
        <article class="content px-4" style="padding-bottom: 4rem; padding-top: 6rem">
            @Body
        </article>
        @*Task Bar*@
        <TaskBar />
    </main>
</div>
