<nav class="navbar navbar-expand bg-light" style="position: fixed; bottom: 0; width: 100%; z-index: 1">
    <div class="container-fluid">
        <div class="nav-item d-inline-flex">
            <NavLink class="nav-link text-center" href="/">
                <span class="oi bi bi-house-door-fill"></span>
            </NavLink>
        </div>
        <div class="nav-item d-inline-flex">
            <NavLink class="nav-link text-center" href="search">
                <span class="oi bi bi-search"></span>
            </NavLink>
        </div>
        <div class="nav-item d-inline-flex">
            <NavLink class="nav-link text-center" href="post">
                <span class="oi bi bi-plus"></span>
            </NavLink>
        </div>
        <div class="nav-item d-inline-flex">
            <NavLink class="nav-link text-center" href="learn">
                <span class="oi bi bi-lightning-charge-fill"></span>
            </NavLink>
        </div>
        <div class="nav-item d-inline-flex">
            <NavLink class="nav-link text-center" href="recipebook">
                <span class="oi bi bi-book-fill"></span>
            </NavLink>
        </div>
        <div class="nav-item d-inline-flex">
            <NavLink class="nav-link text-center" href="ViewRecipe">
                <span class="oi bi bi-book-fill"></span>
            </NavLink>
        </div>
    </div>
</nav>