<div class="mx-2 text-center">
    <div class="row align-items-center">
        <div class="col">
            <a href=@Link>
                <img src=@Src class="rounded-circle shadow-4-strong" height="100em" width="100em" alt="..." />
            </a>
        </div>
        <div class="col">
            <h6 class="title">@Name</h6>
        </div>
    </div>
    
</div>

@code {
    [Parameter]
    public string Src { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Link { get; set; }
}