<div class="bg-image card shadow-2-strong" style="background-image: url(@Src); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 30vw">
    <a href=@Link style="text-decoration: none">
        <div class="card-body text-white">
            <h4 class="card-title text-center">@Title</h4>
        </div>
    </a>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public string Src { get; set; }
}