/*img {
    width: 65%;
    margin: 0 auto;
}

.card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card-title {
    font-weight: 700;
    font-size: 1.5em;
}

*/
.card {
    display: inline-block;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.image {
    float: left;
    width: 25%;
}

.content {
    float: left;
    width: 73%;
    overflow: hidden;

}
